.modal-content {

  padding-left:40px;
}

.containerbody {
  text-align: center;
}

.page-main {
  margin-top: 0px !important;
}

#feedcontainer{
  display: block;

  background-image: url('../img/newsbackgound2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;

}

#wrapper-content{

  padding: 15px 19px 100px;
  width: 1100px;
  margin-left: 400px;

  text-align: left !important;
}

#feedbox{
  margin-top:4px;
  margin:6px;
  display: flex;


  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 84%, rgba(237,237,237,1) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 84%, rgba(237,237,237,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 84%, rgba(237,237,237,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 84%, rgba(237,237,237,1) 100%);
  background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 84%, rgba(237,237,237,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );


}

.facebook-picture{
// width:300px;
  position:relative;
  z-index: 1;
  height: 240px;
  padding-left: 10px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

#facebook-caption{
  position:relative;
}

#facebook-description{
  position:relative;
  font-family: Thesis,arial,roboto,"droid sans",helvetica,sans-serif !important;
  font-weight: normal !important;
  padding-right: 10px;
  padding-bottom:30px;
}

#facebook-heading{
  width:100%;
  position:relative;

  font-weight: bold !important;
  font-family: Thesis,arial,roboto,"droid sans",helvetica,sans-serif !important;
  color: #24324c !important;
  float: left;
  margin: 20px 0px 15px;
}

#facebook-sectionA{
  margin-top:4px;
  margin:6px;
  display:block !important;
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 84%, rgba(237,237,237,1) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 84%, rgba(237,237,237,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 84%, rgba(237,237,237,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 84%, rgba(237,237,237,1) 100%);
  background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 84%, rgba(237,237,237,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
}

#facebook-sectionA-container{

  margin:10px;

}


.facebook-picture-sectionA{
  width:100%;
  height: 25vh;


  position:relative;
  z-index: 1;
  float: left;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;

}

#facebook-headline-sectionA{
  width:100%;
  position:relative;

  font-weight: bold !important;
  font-family: Thesis,arial,roboto,"droid sans",helvetica,sans-serif !important;
  color: #24324c !important;
  float: left;
  margin: 20px 0px 15px;
  padding-right: 10px;
}

#facebook-text-sectionA{
  position:relative;
  font-family: Thesis,arial,roboto,"droid sans",helvetica,sans-serif !important;
  font-weight: normal !important;

  padding-bottom:30px;
  padding-right: 10px;
}

#facebook-picture-Container{
  position: relative;
  padding-top:30px;
}

#facebook-sectionB{
  margin-top:4px;
  margin:6px;
  display:flex !important;

}

#facebook-sectionB-container{


  width:50%;
  padding-left: 10px;
  padding-top: 10px;
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 84%, rgba(237,237,237,1) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 84%, rgba(237,237,237,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 84%, rgba(237,237,237,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 84%, rgba(237,237,237,1) 100%);
  background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 84%, rgba(237,237,237,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
}

.facebook-picture-sectionB{
  width: 100%;
  height: 20vh;

  position:relative;
  z-index: 1;
  float: left;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding-bottom: 10px;
  padding-right:10px;
}

#facebook-headline-sectionB{
  width:100%;
  position:relative;

  font-weight: bold !important;
  font-family: Thesis,arial,roboto,"droid sans",helvetica,sans-serif !important;
  color: #24324c !important;
  margin: 20px 0px 15px;
  padding-right: 10px;
  padding-left:10px;
  padding-top: 10px;
}

#facebook-text-sectionB{
  position:relative;
  font-family: Thesis,arial,roboto,"droid sans",helvetica,sans-serif !important;
  font-weight: normal !important;

  padding-bottom:30px;
  padding-left: 10px;
  padding-right: 10px;
}

#facebook-sectionC{
  margin-top:4px;
  margin:6px;
  display:block !important;
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 84%, rgba(237,237,237,1) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 84%, rgba(237,237,237,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 84%, rgba(237,237,237,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 84%, rgba(237,237,237,1) 100%);
  background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 84%, rgba(237,237,237,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
}


@media (max-width: 1300px)
{

  #feedbox{
    margin-top:4px;
    margin:6px;
    display:block !important;

  }

  .facebook-picture{
    padding-top: 5px;
    width:100%;
    height: 25vh;
    height: 25%;
    position:relative;
    z-index: 1;
    float: left;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  #facebook-caption{
    position:relative;
  }

  #facebook-description{
    position:relative;
    font-family: Thesis,arial,roboto,"droid sans",helvetica,sans-serif !important;
    font-weight: normal !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  #wrapper-content{
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  #facebook-sectionB{
    margin-top:4px;
    margin:6px;
    display:block !important;

  }

  #facebook-sectionB-container{
    padding-top: 0px !important;
    width:  100% !important;
  }
  .facebook-picture-sectionB{
    padding-top: 5px;
    width:100%;
    height: 25vh;
    height: 25%;
    position:relative;
    z-index: 1;
    float: left;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

  }

  #facebook-text-sectionB {
    padding-left: 0px !important;
  }

  #facebook-sectionB-container{
    padding-right: 10px;
  }
  #wrapper{
    min-width: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 0 !important;
  }

  #wrapper-content{
    width: auto !important;
  }

  .fb-page, .fb-page:before, .fb-page:after {
    border: 1px solid #ccc;
  }

  .fb-page:before, .fb-page:after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 2px;
    right: 2px;
    height: 1px;
    border-top: none
  }

  .fb-page:after {
    left: 4px;
    right: 4px;
    bottom: -5px;
    box-shadow: 0 0 2px #ccc
  }
}
